*, *::before, *::after {
  box-sizing: border-box;
}

body {
    background-color: $color--background;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

}

.page-container, .is-style-page-container {
    display: grid;
    width: 95%;
    padding: 0;
    margin: 0 auto;
 }

 @media screen and (min-width:$mobile) {
   .page-container, .is-style-page-container {
     max-width: 95%;
   }

   p,
   li {
       font-size: 1.125rem;
       line-height: 2.25rem;
   }
   .wp-block-cover h1{
    font-size: 3.125rem;
    line-height: 3.8125rem;
    max-width: 845px;
}
    h2,
    .paragraph-large{
        font-size: 1.5625rem;
        line-height: 2.625rem;
    }

    h3{
        font-size: 1.4375rem;
        line-height: 2.25rem;
    }
 }


   @media screen and (min-width:$tablet) {
   .page-container, .is-style-page-container {
     width: 900px;
     max-width: 95%;
   }
}

 @media screen and (min-width:$desktop) {
   .page-container, .is-style-page-container {
     width: 1280px;
     max-width: 95%;
   }
   .page-container-tight,
   .is-style-page-container-tight{
     width: 900px;
   }
}
@media screen and (min-width:1600px) {
  .is-style-max-container,
  .max-container {
    width: 1500px;
  }
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: $color--links;
}

p {

}
