.mobile-header {
    display: grid;
    background-color: white;
    z-index: 3;
    grid-template-columns: 2fr 3fr;
    text-align: center;

    nav ul {
        display: none;
        list-style-type: none;
    }

    .mobile-header__nav-wrap {
        grid-column: 1 / 5;

        position: relative;
    }

    .mobile-header__nav {
        position: absolute;
        z-index: 2;

        width: 100%;
        top: 0px;
        background-color: $color--background;

        li a {
            margin-top: 16px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

.mobile-top-menu {
    display: grid;

    margin-block-start: 0;
    margin-inline-start: 0;
    padding-inline-start: 2vh;

    a {
        transition: all .125s;
        text-decoration: none;
        color: $color--mobile-menu-links;
        width: 100%;
        text-align: start;
        display: inline-block;
        // border-bottom: 2px solid $color--background;
        font-size: 1.125rem;
        line-height: 1.375rem;
        font-weight: 700;
    }
}

main .wp-block-cover, .wp-block-cover-image {
    padding-bottom: 0;
}

.mobile-header__logos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    a, span {
        max-width: 100px;
        img {
            max-width: 100%;
        }
    }
}

.mobile-header__logo-wrap {

}
.mobile-header__toggle {
    grid-column: 3 / span 1;
    grid-row: 2;
}
.mobile-header--logo {
    max-width: 100%;
}

.header--logo {
    max-width: 320px;
}
@media screen and (min-width:$mobile--small) {
    .mobile-header__logo-wrap{
        max-width: 320px;
    }
    .mobile-header--logo {
        max-width: 100%;
    }
}
@media screen and (min-width:$mobile) {
    .mobile-header__logo-wrap{
        max-width: 320px;
    }
    .mobile-header--logo {
        max-width: 100%;
        padding: 1vw;
    }

}
@media screen and (min-width:$tablet) {
    .desktop-header-grid {
        display: grid;
        grid-template-columns: repeat(4, auto);
        align-items: center;
        background-color: white;

        span {
            text-decoration: none;
            color: $color--menu-links;
            
            display: inline-block;
            font-size: 1.1em;
            text-align: left;
            margin-left: 0 8px;
            font-weight: 700;
        }

        a {
            transition: all .125s;
            text-decoration: none;
            color: $color--menu-links;
            width: 100%;
            display: inline-block;
            font-size: 1.5em;
            text-align: center;
            margin: 0 20px;
            font-weight: 700;

            .header--logo {
                max-width: 320px;
            }
        }
        .desktop-header__logo-wrap{
            justify-self: left;
            margin: 0;
        }
        a:hover{
            color: #ED9C35;
            cursor: pointer;
        }
        .desktop-header-grid__logos{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            a, span {
                margin: 0;
                max-width: 110px;
                img{
                    max-width: 100%;
                }
            }
        }


        .top-menu, .menu-ilman-polylangia-container {
            grid-row: 2;
        }

        .desktop-header-grid__language-switcher {
            grid-row: 2;
            justify-content: flex-end;
            grid-column-start: 3;
        }
    }


    .main-header div {
        margin: 0 auto;
    }
    .desktop-header-grid ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(6, auto);
    }
    .nav-toggle-label{
        display: none;
    }

    .menu-main-container ul.top-menu > li.menu-item-has-children > a::after{
        content: ' ▼';
        font-size: 15px;
    }

    .menu-item-has-children ul{
        display: none;
        position: absolute;
    }

    .menu-item-has-children:hover ul,
    .menu-item-has-children:focus-within ul{
        display: block;
    }
}
@media screen and (min-width:$desktop) {
    .desktop-header-grid {
        display: grid;

        align-items: center;
        background-color: white;
        padding: 0 16px;

        a {
            transition: all .125s;
            text-decoration: none;
            color: $color--menu-links;
            width: 100%;
            display: inline-block;
            font-size: 1.5em;
            text-align: center;
            margin: 0 20px;
            font-weight: 700;

            .header--logo {
                max-width: 320px;
            }
        }
        .desktop-header__logo-wrap{
            justify-self: left;
            margin: 0;
        }
        a:hover{
            color: #ED9C35;
            cursor: pointer;
        }
        .desktop-header-grid__logos{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            a, span {
                margin: 0;
                max-width: 110px;
                img{
                    max-width: 100%;
                }
            }
        }

    }
    #menu-kielivalitsin{
        padding: 0;
        a {

        }
    }

    .desktop-header-grid__language-switcher .sub-menu {
        background-color: white;
        z-index: 500;
        padding-right: 50px;
    }
}

@media screen and (min-width: 1600px) {
    .desktop-header-grid {
        grid-template-columns: auto auto 1fr 450px 250px;


        .top-menu, .menu-ilman-polylangia-container {
            grid-row: auto;
        }

        .desktop-header-grid__language-switcher {
            grid-row: auto;
            justify-content: center;
            grid-column-start: auto;
        }
    }

    
    .desktop-header-grid__language-switcher .sub-menu {
        padding-right: 0 px;
    }
}

.mobile-header__toggle {
    padding: 3vw;
    position: relative;
    font-size: 15px;
    display: grid;
    align-items: center;
    justify-content: end;

    &__wrap {
        margin-top: -50%;
    }
}

.toggler--closed{
    display: none;
}

@media screen and (max-width:$tablet) {
    .desktop-header {
        display: none;
    }
}
@media screen and (min-width:$tablet) {
    .mobile-header {
        display: none;
    }

    .desktop-header {
        display: block;
        z-index: 2;
        width: 100%;
    }
    .top-menu .pll-parent-menu-item{
        display: none;
    }
    #menu-item-819 > a::after,
    #menu-item-818 > a::after {
        border-style: solid;
        border-width: 0.25em 0.25em 0 0;
        content: '';
        display: inline-block;
        height: 0.45em;
        left: .5em;
        position: relative;
        top: 0em;
        transform: rotate(135deg);
        vertical-align: middle;
        width: 0.45em;
    }
}

.desktop-header-grid__language-switcher {
    display: flex;
    align-items: center;
}

.desktop-header-grid {
    .menu-language-container {
        ul {
            grid-template-columns: none;
            padding-left: 0;
        }

        a {
            margin: 0 8px;
            display: inline-block;
        }
    }
    
}

a#jump-to-content
{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
 
a#jump-to-content:focus
{
position:static;
width:auto;
height:auto;
}

.mobile-header-grid__language-switcher {
    grid-column: 1 / span 2;
    grid-row: 2;
    text-align: left;

    display: flex;
    
    flex-direction: column;
    justify-content: center;

    ul {
        display:inline-block;
        padding-left: 0;
        list-style-type: none;
    }

    li {
        display:inline-block;
        margin-left: 8px;
    }

    .sub-menu {
        border-left: 3px solid #007bc0;
    }

    a {
        font-weight: 700;
        font-size: 22px;
        padding: 0 9px;
        
    }
}

