$color--background: white;
$color--background-mobile-menu: none;
$color--red: #f5ccda;
$color--darkred: #923759;
$color--pink: #e7196b;
$color--white: white;
$color--table: black;
$color--links: #0693e3;
$color--menu-links: #0092BE;
$color--mobile-menu-links: black;
$color--mobile-menu-toggler: black;
$color--menu-hover: #a1214c;
$color--footer-background: #EFF3FA;
